@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Raleway:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 700;
    font-family: 'Poppins';
}

.container video {
    position: relative;
}

@media only screen and (min-width: 1080px) {
    .videoInsert {
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100%;
        max-height: inherit;
        width: auto;
        height: 84.6vh;
        z-index: -100;
        background-size: cover;
        overflow: hidden;
    }
}
@media screen and (min-width: 992px) {
    .menubar {
        flex-grow: initial;
        display: flex;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-brand, img {
    width: 200px;
    padding-top: 7px;
    margin-left: 100px;
}

.navbar-nav li a {
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 0.9rem; 
}

.navbar-nav {
    margin-right: 90px;
}

.container, .navbar-nav {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 204px;
}

.navbar-nav {
    align-items: center;
    display: inline-flex;
    position: relative;
}

#section-intro {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    margin-left: 200px;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    margin-bottom: 10px;
    font-size: 4.5rem;
}

p {
    font-size: 1.9rem;
}

.section-intro p {
    padding-bottom: 28px;
}

.section-intro h2 {
    margin-bottom: 500px;
}

.search-bar, .form-control {
    justify-content: center;
    align-items: center;
    margin-left: 185px;
    margin-top: 15px;
    height: 40px;
    border-radius: 4px;
}

.form-control {
    padding-left: 15px;
    font-size: 1rem;
    border: 1px solid white;
    opacity: .9;
}

.search-bar, .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-search {
    height: 30px;
    padding-top: 8px;
}

.search-bar, .fa-search {
    padding-top: 10px;
}

.btn {
    margin-top: 15px;
    height: 41px;
    width: 53px;
    border-radius: 4px;
    border: 1px solid #007bff;
    color: white;
    font-size: 1rem;
    padding-bottom: 3px;
    background: #007bff;
    cursor: pointer;
    font-weight: bolder;
}

.swiper-wrapper {
    display: flex;
    transform: translate3d(-105.6px, 0px, 0px);
    transition-duration: 0ms;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}